<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}

        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form method="post">
            <div class="imgcontainer">
              <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="introduction">
                <button type="submit">Login</button>
                <button type="submit">Signup</button>
                <h1>DOVE</h1>
                <h1>STUDY ASSISTANT</h1>
                <label for="description">Ứng dụng ghi chú cho phép người dùng 
                    <br>
                    lên kế hoạch cụ thể tất cả công việc, lịch học.
                    <br> 
                    Đồng thời giúp phản ánh tiến độ hoàn thành công việc.
                </label>
            <div class="function">
                <h1>CÁC TÍNH NĂNG</h1>
                <h1>NỔI BẬT</h1>
                

            </div>
            <div class="container">
              <h2>Charts</h2>
              <br>
       
        
        <script src="" async defer></script>
    </body>
</html>