body{
    background-color: #d5e0f2;
    font-family: sans-serif;
    background-image: url("static\web1\images\Layer 3.png");
}
.container{
    width: 300px;
    height: 280px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center; 
    margin: 40px 1000px;
}